body {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
}

section {
    font-family: 'Bellefair', serif;
    width: 100%;
    padding: 20px 50px;
    color: #35384C;

    
}
section h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #35384C;
}
section .menu {
    max-width: 1200px;
    margin: auto;
}
section .price {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
}
section.entradas,
section.entradas .name,
section.entradas .price {
    background: #FAF1E6;
}
section.arroz,
section.arroz .name,
section.arroz .price {
    background: #FDFAF6;
}
section.sopas,
section.sopas .name,
section.sopas .price,
section.sopas h1 {
    background: #E4EFE7;
}
section.menu-tradicional,
section.menu-tradicional .name,
section.menu-tradicional .price {
    background: #FAF1E6;
}
section.carnes-de-vacuno,
section.carnes-de-vacuno .name,
section.carnes-de-vacuno .price {
    background: #FDFAF6;
}
section.pollo,
section.pollo .name,
section.pollo .price {
    background: #E4EFE7;
}
section.cerdo,
section.cerdo .name,
section.cerdo .price,
section.cerdo h1 {
    background: #FAF1E6;
}
section.diente-de-dragon,
section.diente-de-dragon .name,
section.diente-de-dragon .price {
    background: #FDFAF6;
}
section.pescados-y-mariscos,
section.pescados-y-mariscos .name,
section.pescados-y-mariscos .price {
    background: #E4EFE7;
}
section.verduras-de-temporada,
section.verduras-de-temporada .name,
section.verduras-de-temporada .price {
    background: #FAF1E6;
}
section.fideos-salteados,
section.fideos-salteados .name,
section.fideos-salteados .price {
    background: #FDFAF6;
}

ul.leaders {
    max-width: 100%;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}
ul.leaders .name:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: black;
    content:
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
 "..................."
}
ul.leaders .name:first-child {
    padding-right: 0.33em;
}
ul.leaders .name + .price {
    float: right;
    padding-left: 0.33em;
}
ul.leaders li {
    margin-bottom: 20px;
}
ul.leaders li .food-info span {
    font-size: 24px;
    font-weight: 500;
}
ul.leaders li .food-description {
    font-family: Tahoma, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
ul.leaders li .food-description span {
    display: block;
    font-size: 16px;
    color: #707070;
}
ul.leaders li .food-description .description {
    flex-basis: 70%;
}
ul.leaders li .food-description .tag {
    background: #F32643;
    color: white;
    text-transform: uppercase;
    padding: 2px 10px;
    height: 28px;
    font-weight: bold;
}
.menu-tradicional .food-description {
    max-width: 90%;
}

@media only screen and (max-width: 768px) {
    ul.leaders li .food-info span {
        font-size: 16px;
        font-weight: 500;
    }
    ul.leaders li .food-description span {
        display: block;
        font-size: 10px;
        color: #707070;
        font-weight: 500;
    }
    ul.leaders li .food-description .description {
        flex-basis: 100%;
    }
    ul.leaders li .food-description .tag {
        background: #F32643;
        color: white;
        text-transform: uppercase;
        padding: 2px 10px;
        height: 19px;
    }
}

@media screen and (min-width: 768px) {
    
    .top-nav__menu-icon {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    
    .top-nav__menu-icon {
        display: block;
    }
    

    ul.top-nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
        right: -100vw;
        top: 110px;
        z-index: 99;
        position: fixed;
        
        
        width: 100vw;
        height: 92vh;
        background-color: white;
        transition: all .5s ease-in-out;
        transform: translateX(0%);
         
        
    }

    ul.top-nav__menu--active {
        transform: translateX(-100%); 
       
        z-index: 99
        
    }

    


}

a {
    text-decoration: none;
    color: rgb(29, 28, 28);
}
a:hover{
    color: initial;
}

* {
   position: relative;
   box-sizing: border-box;
}


.top-nav {
   height: 110px;
   padding: 30px 50px;
}

.top-nav__logo img{
   min-width: 150px;
   max-width: 200px;
   width: 15vw; 
   height: auto;
}

.top-nav__menu {
   display: flex;
   justify-content: flex-end;
   align-items: baseline;
   flex-wrap: nowrap;
   
}

.top-nav__menu li {
   list-style-type: none;
   padding: 0 10px;
}

.top-nav__menu li a {
    font-family: 'Bellefair', serif;
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-size: 20px;
}

.top-nav__menu li a:hover {
    color: #f39e28;
    font-weight: bold;
    /* background-color: black; */

    
}


.top-nav__menu-icon i {
    color: rgb(29, 28, 28);
    cursor: pointer;
}


.hero {
    position: relative;
    width: 100%; 
    min-width: 100%; 
    height: 500px;
    overflow: hidden;
}
.hero::before { 
    background-image: url("assets/header-comidachina-2_1680.webp"); 
    background-size: cover; 
    content: ""; 
    background-position: center;
    display: block; position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -2; 
    
} 

.hero::after { 
    
    content: ""; 
    display: block;
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    opacity: .8;
    background-color: #0f0e0e; 
}
@media (min-width: 320px) { 
    .hero::before { background-image: url("assets/header-comidachina-2_320.webp");} 
}
@media (min-width: 460px) { .hero::before { background-image: url("assets/header-comidachina-2_480.webp"); } } 
@media (min-width: 720px) { .hero::before { background-image: url("assets/header-comidachina-2_600.webp"); } } 
@media (min-width: 980px) { .hero::before { background-image: url("assets/header-comidachina-2_1024.webp"); } } 
@media (min-width: 1240px) { .hero::before { background-image: url("assets/header-comidachina-2_1280.webp"); } } 
@media (min-width: 1500px) { .hero::before { background-image: url("assets/header-comidachina-2_1440.webp"); } } 
@media (min-width: 1760px) { .hero::before { background-image: url("assets/header-comidachina-2_1680.webp"); } } 


.hero__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    color: white;
    
}



.hero__title h1 {
   color: #fff;
   text-shadow: #343a40 2px 2px; 
   
   position: relative;
   line-height: 1.3em;
   margin: 12px 0;

   
}

.hero__title h3 {
    font-size: 22px;
    margin: 12px 0;
    text-align: center ;
}


.about p {
   
    line-height: 1.3em;
   margin: 10px 0;
   font-size: 24px;
   text-align: center;
   color: #ac6e18;
  background: -webkit-linear-gradient(#e99f38, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.about {
    
}
.hero__title button {
    font-size: 16px;
    font-family: 'Roboto';
    margin: 10px 0;

}

.about .col {
    border-top: 1.5px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, transparent, transparent, #e99f38, #c27b18, #e99f38, transparent,transparent);
}

p.about__p--black {
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: white;
    -webkit-text-fill-color: black;
}

.google-map #map {
    width: 100vw;
    
    height: 400px;
    max-width: 80vw;
    
}

@media screen and (max-width: 768px)  {
    

    .hero__title h1 {
        
        line-height: 1em;
    }
    
    .about p, 
    .hero__title button {
        font-size: 18px;
    }
}

@media screen and (max-width: 460px)  {
    

    .hero__title h1 {
        
        line-height: 1em;
        font-size: 25px;
    }

    .hero__title h3 {
        font-size: 23px;
    }
    
    .hero__title button {
        font-size: 16px;
        line-height: 1em;
    }
}



.footer {
    background-size: contain;
    background: linear-gradient(rgba(236, 236, 236, 0.5), rgba(197, 195, 195, 0.5)), url("assets/5291450.jpg");
}

.footer__order-list {
   padding: 0;
}

.footer__order-list li {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.footer__order-list li img {
   margin: 5px 0;
   width: 120px;
   height: auto;

   max-width: 70vw;
}

.footer__contact-list {
    padding: 0;
}

.footer__contact-list li {
   list-style-type: none;
   
}

.footer__contact-list a {
    color:rgb(29, 28, 28);
    text-decoration: none;
}

.footer__social-links a {
    color:rgb(29, 28, 28);
    text-decoration: none;
}

.footer__googlemap img {
   width: 200px;
   height: auto;
   max-width: 80%;
}

.hero__title h1, 
.hero__title h3, 
.hero__title p, 
.hero__title button {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

/* .fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
} */

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes zooInZoomOut {
    0% {
transform: scale(1, 1);
}
50% {
transform: scale(1.5, 1.5);
}
100% {
transform: scale(1, 1);
}
}